.item {
    min-height: 50px;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    /*border-style: solid;
    border-color: black;*/
}

.tableitem {
    /*width: 100px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;

    /*padding-left: 10px;
    padding-right: 10px;*/
}

.tableitem span {
    text-align: center;
}

.tableitem img {
    height: 50px;
}

.itemname {
    width: 75px;
}

.itemid {
    min-width: 75px;
}

.itemimg {
    width: 50px;
}

.itemprice {
    min-width: 75px;
}

@media screen and (max-width: 600px) {

    .item {
        width: 100%;
    }

  }
