body {
    background-color: grey;
    font-family: Tahoma, sans-serif;
}

:root {
    --margin: 10px;
    --pad: 20px;
}

.navigation {
    width: 100% - var(--pad);
    height: auto;
    min-height: 2vh;
    max-height: 40px;

    padding: var(--pad);
    margin: var(--margin);

    background-color: white;
}

.foot {
    width: 100% - var(--pad);
    height: auto;

    padding: var(--pad);
    margin: var(--margin);

    background-color: white;

    font-size: 12;
}

.foot-contact {
    margin-bottom: 10px;
}


.content {
    width: 100% - var(--pad);
    height: auto;

    padding: var(--pad);
    margin: var(--margin);

    background-color: white;

}

