:root {
    --pad: 10px;
}

body {
    background-color: grey;
    font-family: Tahoma, sans-serif;
    /*padding: var(--pad);*/
    max-width: 1000px;
    margin: auto;
}

.content {
    position: relative;

    width: 100% - var(--pad);
    height: auto;
    /*min-height: 500px;*/

    padding: var(--pad);

    margin: auto;
    
    background-color: white;

}

.text-container {
    padding: var(--pad);
}

.text-container h1 {
    margin: 0;
    margin-bottom: 10px;
}

.text-container p {
    margin: 0;
}