:root {
    --ext_pad: 20px;
}

body {
    background-color: grey;
    font-family: Tahoma, sans-serif;
    max-width: 1000px;
    margin: auto;
}

.content {
    position: relative;

    width: 100% - var(--ext_pad);
    padding-left: var(--ext_pad);
    padding-right: var(--ext_pad);
    padding-top: 0px;
    padding-bottom: 0px;

    height: auto;
    
    background-color: white;

}

.container {
    padding-top: var(--ext_pad);
    padding-bottom: var(--ext_pad);
}

.container h1 {
    margin: 0px;
}

.container p {
    
}