body {
    margin: 0;
    padding: 0;
    width: 100vw;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-wrapper {
    width: 100%;

    background-color: #333;
}

.header {
    height: auto;
    max-width: 1000px;

    margin: auto;
}

.nav {
    width: 100%;
    display: flex;
}

.nav a {
    width: 25%;
    padding: 20px;

    color: whitesmoke;
    text-decoration: none;

    text-align: center;
}

.nav a.active {
    background-color: rgb(100, 200, 200);
    color: #333;
}

.nav a:hover {
    background-color: rgb(100, 200, 200);
    color: #333;
}




.content-wrapper {
    width: 100%;
}

.content {
    max-width: 1000px;

    height:auto;

    margin-left: 20px;
    margin-right: 20px;
}

.footer-wrapper {
    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 5%;

    background-color: #333;
}

.footer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;

    justify-content: space-around;
}

.footer a {
    width: 50%;
    padding: 20px;

    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;

    text-align: center;
}


@media screen and (max-width: 700px) {
    .nav {
        display: contents;
        width: 100%;
    }
    .nav a {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .footer {
        display: contents;
    }
    .footer a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;

        padding: 10px;

        line-height: 30px;
    }
  }